<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bar chart with d3.js and React</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .bar {
      fill: steelblue;
    }
  </style>
</head>
<body>
  <h1>Bar chart with d3.js and React</h1>
  <ul>
    <li>
      <a href="/area-chart.html">Area chart</a>
    </li>
    <li>
      <a href="/index.html">Bar chart</a>
    </li>
    <li>
      <a href="/line-chart.html">Line chart</a>
    </li>
    <li>
      <a href="/pie-chart.html">Pie chart</a>
    </li>
  </ul>

  <div class="bar-chart"></div>
</body>
</html>
